VITE_APPROVER_LEVEL_1_EMAIL=pamplonajeypii.45@outlook.com
VITE_APPROVER_LEVEL_2_EMAIL=assistantmanager@company.com
VITE_APPROVER_LEVEL_3_EMAIL=manager@company.com
VITE_ADMIN_EMAIL=admin@company.com
VITE_API_BASE_URL=
